datasets==2.0.0
torch==1.11.0
streamlit==1.8.1
watchdog==2.1.7
st-annotated-text==3.0.0
spacy==3.2.4
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.2.0/en_core_web_lg-3.2.0.tar.gz
git+https://github.com/factula/sumtool#egg=sumtool
transformers==4.18.0
rouge-score==0.0.4
wandb
pytest==7.1.1 # for paperspace